$ASSETS_PATH = '/assets'
$BREAKPOINT = 1023
$TABLET_WIDTH = 1024
$MOBILE_WIDTH = 375
$LANDSCAPE_WIDTH = 667

$Z_MAP = BACKGROUND DEEP SINK BASE FLOAT MODAL FOREGROUND

/*
-3 BACKGROUND
-2 DEEP
-1 SINK
 0 BASE
 1 FLOAT
 2 MODAL
 3 FOREGROUND
*/

$color-background = #181818
$color-text = #F0F0F0
$color-anchor = #00F
$color-anchor-hover = #009